USE [SafeDB]
GO
/****** Object:  Table [dbo].[test]    Script Date: 02/22/2017 22:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test](
	[RoleID] [int] NOT NULL,
	[ResourceID] [int] NOT NULL,
	[PermissionType] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysUserResource]    Script Date: 02/22/2017 22:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUserResource](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ResourceID] [int] NOT NULL,
	[PermissionType] [smallint] NOT NULL,
	[IsInherited] [smallint] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SysUserResource] ON
INSERT [dbo].[SysUserResource] ([ID], [UserID], [ResourceID], [PermissionType], [IsInherited]) VALUES (566, 11, 1, 1, -1)
INSERT [dbo].[SysUserResource] ([ID], [UserID], [ResourceID], [PermissionType], [IsInherited]) VALUES (567, 11, 7, 1, -1)
INSERT [dbo].[SysUserResource] ([ID], [UserID], [ResourceID], [PermissionType], [IsInherited]) VALUES (568, 11, 8, 1, -1)
SET IDENTITY_INSERT [dbo].[SysUserResource] OFF
/****** Object:  Table [dbo].[SysUserLog]    Script Date: 02/22/2017 22:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SysUserLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SessionGUID] [varchar](64) NULL,
	[UserID] [int] NOT NULL,
	[LoginName] [varchar](100) NULL,
	[LoginTime] [datetime] NULL,
	[LogoutTime] [datetime] NULL,
	[IPAddress] [varchar](50) NULL,
 CONSTRAINT [PK_SYSUSERLOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SysUserLog] ON
INSERT [dbo].[SysUserLog] ([ID], [SessionGUID], [UserID], [LoginName], [LoginTime], [LogoutTime], [IPAddress]) VALUES (1, N'3916f7d5-97fa-4ca0-9e0e-66e5a3de1af2', 11, N'jack', CAST(0x0000A71D00E9BEEB AS DateTime), NULL, N'127.0.0.1')
INSERT [dbo].[SysUserLog] ([ID], [SessionGUID], [UserID], [LoginName], [LoginTime], [LogoutTime], [IPAddress]) VALUES (2, N'a85c8469-75ca-4593-b25c-e8f5339ee66b', 11, N'jack', CAST(0x0000A71D00EC7368 AS DateTime), NULL, N'127.0.0.1')
INSERT [dbo].[SysUserLog] ([ID], [SessionGUID], [UserID], [LoginName], [LoginTime], [LogoutTime], [IPAddress]) VALUES (3, N'54bf1f07-c948-4b93-9237-2ff51030f430', 11, N'Jack', CAST(0x0000A71D015DD858 AS DateTime), NULL, N'127.0.0.1')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[SysUserLog] OFF
/****** Object:  Table [dbo].[SysUser]    Script Date: 02/22/2017 22:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SysUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[LoginName] [varchar](50) NULL,
	[AccountType] [smallint] NOT NULL,
	[Status] [tinyint] NULL,
	[Password] [varchar](200) NULL,
	[PasswordFormat] [smallint] NULL,
	[PasswordSalt] [varchar](200) NULL,
	[EMail] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SysUser] ON
INSERT [dbo].[SysUser] ([ID], [UserName], [LoginName], [AccountType], [Status], [Password], [PasswordFormat], [PasswordSalt], [EMail]) VALUES (1, N'秦三', NULL, 0, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SysUser] ([ID], [UserName], [LoginName], [AccountType], [Status], [Password], [PasswordFormat], [PasswordSalt], [EMail]) VALUES (2, N'魏琼', NULL, 0, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SysUser] ([ID], [UserName], [LoginName], [AccountType], [Status], [Password], [PasswordFormat], [PasswordSalt], [EMail]) VALUES (3, N'马波', NULL, 0, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SysUser] OFF
/****** Object:  Table [dbo].[SysRoleUser]    Script Date: 02/22/2017 22:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysRoleUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[UserID] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SysRoleUser] ON
INSERT [dbo].[SysRoleUser] ([ID], [RoleID], [UserID]) VALUES (1, 8, 1)
INSERT [dbo].[SysRoleUser] ([ID], [RoleID], [UserID]) VALUES (2, 7, 2)
INSERT [dbo].[SysRoleUser] ([ID], [RoleID], [UserID]) VALUES (3, 4, 3)
SET IDENTITY_INSERT [dbo].[SysRoleUser] OFF
/****** Object:  Table [dbo].[SysRoleResource]    Script Date: 02/22/2017 22:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysRoleResource](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[ResourceID] [int] NOT NULL,
	[PermissionType] [smallint] NOT NULL,
 CONSTRAINT [PK_SYSROLERESOURCEPRIVILEGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SysRoleResource] ON
INSERT [dbo].[SysRoleResource] ([ID], [RoleID], [ResourceID], [PermissionType]) VALUES (63, 23, 1, 1)
INSERT [dbo].[SysRoleResource] ([ID], [RoleID], [ResourceID], [PermissionType]) VALUES (64, 23, 16, 1)
INSERT [dbo].[SysRoleResource] ([ID], [RoleID], [ResourceID], [PermissionType]) VALUES (65, 23, 7, -1)
SET IDENTITY_INSERT [dbo].[SysRoleResource] OFF
/****** Object:  Table [dbo].[SysRole]    Script Date: 02/22/2017 22:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SysRole](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleCode] [varchar](50) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SysRole] ON
INSERT [dbo].[SysRole] ([ID], [RoleCode], [RoleName]) VALUES (1, N'employees', N'普通员工')
INSERT [dbo].[SysRole] ([ID], [RoleCode], [RoleName]) VALUES (2, N'CXO', N'部门总监')
INSERT [dbo].[SysRole] ([ID], [RoleCode], [RoleName]) VALUES (3, N'hrmanager', N'人事经理')
SET IDENTITY_INSERT [dbo].[SysRole] OFF
/****** Object:  Table [dbo].[SysResource]    Script Date: 02/22/2017 22:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SysResource](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ResourceTypeID] [smallint] NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
	[ParentID] [int] NOT NULL,
	[StyleClass] [nvarchar](200) NULL,
	[UrlAction] [nvarchar](50) NULL,
	[DataAction] [varchar](20) NULL,
	[OrderNum] [smallint] NULL,
	[CanNotBeDeleted] [smallint] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SysResource] ON
INSERT [dbo].[SysResource] ([ID], [ResourceTypeID], [ResourceName], [ParentID], [StyleClass], [UrlAction], [DataAction], [OrderNum], [CanNotBeDeleted]) VALUES (1, 1, N'基础数据系统', 0, N'fa fa-gift fa-lg', NULL, NULL, 1, 0)
INSERT [dbo].[SysResource] ([ID], [ResourceTypeID], [ResourceName], [ParentID], [StyleClass], [UrlAction], [DataAction], [OrderNum], [CanNotBeDeleted]) VALUES (2, 2, N'用户数据', 1, NULL, N'user/list', NULL, 1, 0)
INSERT [dbo].[SysResource] ([ID], [ResourceTypeID], [ResourceName], [ParentID], [StyleClass], [UrlAction], [DataAction], [OrderNum], [CanNotBeDeleted]) VALUES (4, 5, N'新增', 2, NULL, NULL, N'add', 1, 0)
SET IDENTITY_INSERT [dbo].[SysResource] OFF
/****** Object:  Table [dbo].[SysEmployee]    Script Date: 02/22/2017 22:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SysEmployee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DeptID] [int] NOT NULL,
	[EmpCode] [varchar](50) NOT NULL,
	[EmpName] [nvarchar](50) NOT NULL,
	[UserID] [int] NULL,
	[Mobile] [varchar](20) NULL,
	[EMail] [varchar](100) NULL,
	[ManagerID] [int] NULL,
	[Remark] [nvarchar](500) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SysEmployee] ON
INSERT [dbo].[SysEmployee] ([ID], [DeptID], [EmpCode], [EmpName], [UserID], [Mobile], [EMail], [ManagerID], [Remark]) VALUES (1, 2, N'0001', N'小明', 6, NULL, NULL, 5, NULL)
INSERT [dbo].[SysEmployee] ([ID], [DeptID], [EmpCode], [EmpName], [UserID], [Mobile], [EMail], [ManagerID], [Remark]) VALUES (2, 2, N'0002', N'张经理', 5, NULL, NULL, NULL, NULL)
INSERT [dbo].[SysEmployee] ([ID], [DeptID], [EmpCode], [EmpName], [UserID], [Mobile], [EMail], [ManagerID], [Remark]) VALUES (3, 3, N'0003', N'金经理', 18, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SysEmployee] OFF
/****** Object:  Table [dbo].[SysDepartment]    Script Date: 02/22/2017 22:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SysDepartment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DeptCode] [varchar](50) NOT NULL,
	[DeptName] [nvarchar](100) NOT NULL,
	[ParentID] [int] NOT NULL,
	[Description] [nvarchar](500) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SysDepartment] ON
INSERT [dbo].[SysDepartment] ([ID], [DeptCode], [DeptName], [ParentID], [Description]) VALUES (1, N'CP', N'若驰科技', 0, NULL)
INSERT [dbo].[SysDepartment] ([ID], [DeptCode], [DeptName], [ParentID], [Description]) VALUES (2, N'TH', N'技术部', 1, NULL)
INSERT [dbo].[SysDepartment] ([ID], [DeptCode], [DeptName], [ParentID], [Description]) VALUES (3, N'HR', N'人事部', 1, NULL)
SET IDENTITY_INSERT [dbo].[SysDepartment] OFF
/****** Object:  UserDefinedFunction [dbo].[SplitInts]    Script Date: 02/22/2017 22:14:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Besley, SlickOne Team>
-- Create date: <2017-01-11>
-- Description:	<字符串分割函数>
--- http://stackoverflow.com/questions/11102358/how-to-pass-an-array-into-a-sql-server-stored-procedure
-- =============================================
CREATE FUNCTION [dbo].[SplitInts]
(
   @List      VARCHAR(MAX),
   @Delimiter VARCHAR(255)
)
RETURNS TABLE
AS
  RETURN ( SELECT Item = CONVERT(INT, Item) FROM
      ( SELECT Item = x.i.value('(./text())[1]', 'varchar(max)')
        FROM ( SELECT [XML] = CONVERT(XML, '<i>'
        + REPLACE(@List, @Delimiter, '</i><i>') + '</i>').query('.')
          ) AS a CROSS APPLY [XML].nodes('i') AS x(i) ) AS y
      WHERE Item IS NOT NULL
  );
GO
/****** Object:  StoredProcedure [dbo].[pr_com_TotalCountQuery]    Script Date: 02/22/2017 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*=============================================
--用途：分页存储过程(对有主键的表效率极高)
--说明：
功能描述:  通用存储过程-获取分页数据  
参数说明：
调试记录： 
=============================================
修改历史：
修 改 人：   
修改日期：
修改说明： 
=============================================*/
create PROCEDURE [dbo].[pr_com_TotalCountQuery]
	@sql	nvarchar(max),
	@rowsCount  int output
AS 

BEGIN

	SET NOCOUNT ON

	DECLARE @strSQLCount nvarchar(max)
	DECLARE @params nvarchar(500)
	SET @strSQLCount = 'SELECT 
		@total = COUNT(1)
		FROM (' +
			@sql
			+ ')TXYZ139MG129'

	SET @params = '@total int OUTPUT'
	EXEC sp_executesql @strSQLCount, @params, @total=@rowsCount OUTPUT

	RETURN @rowsCount

END
GO
/****** Object:  StoredProcedure [dbo].[pr_com_TotalCount]    Script Date: 02/22/2017 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*=============================================
--用途：分页存储过程(对有主键的表效率极高)
--说明：
功能描述:  通用存储过程-获取分页数据  
参数说明：
调试记录： 
=============================================
修改历史：
修 改 人：   
修改日期：
修改说明： 
=============================================*/

create PROCEDURE [dbo].[pr_com_TotalCount]
	@tblName	nvarchar(255),		--表名称
	@strWhere	nvarchar(1024) = '',--查询条件, 不加Where 关键字
	@rowsCount  int output
AS 

BEGIN

	SET NOCOUNT ON

	DECLARE @strSQL nvarchar(4000)
	DECLARE @strSQLCount nvarchar(2000)
	DECLARE @params nvarchar(500)

	IF (@strWhere = '')
		BEGIN
			SET @strSQLCount = 'SELECT @total=COUNT(1) '
						+ ' FROM [' + @tblName + ']'
		END
	ELSE
		BEGIN
			SET @strSQLCount = 'SELECT @total=COUNT(1) '
						+ ' FROM [' + @tblName + ']'
						+ ' WHERE ' + @strWhere
		END
	
	SET @params = '@total int OUTPUT'
	EXEC sp_executesql @strSQLCount, @params, @total=@rowsCount OUTPUT

	RETURN @rowsCount

END
GO
/****** Object:  StoredProcedure [dbo].[pr_com_QuerySQLPaged]    Script Date: 02/22/2017 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Stored Procedure

create PROCEDURE  [dbo].[pr_com_QuerySQLPaged]      
     @Query nvarchar(MAX), --SQL语句    
     @PageSize int, --每页大小   
     @CurrentPage  int ,  --当前页码   
     @Field nvarchar(40)='', --排序字段   
     @Order nvarchar(10) = 'asc ' --排序顺序   
AS    
    declare @PageCount int,
	        @TempSize int,    
			@TempNum int,  
			@strSQL varchar(max),
			@strField varchar(40),   
			@strFielddesc varchar(40),
			@Tempindex int 

    --0,1都做第一页处理
	if (@currentPage = 0)
		set @currentPage = 1

    set @TempNum = @CurrentPage * @PageSize    
	set @strField = ''
	set @strFielddesc = ''

	--计算总页数
	declare @strCountSQL nvarchar(MAX)
	set @strCountSQL = 'SELECT @total=COUNT(1) FROM (' + @Query + ')T'

	--总记录数
	DECLARE @rowsCount int
	DECLARE @params nvarchar(500)
	SET @params = '@total int OUTPUT'
	EXEC sp_executesql @strCountSQL, @params, @total=@rowsCount OUTPUT

	--根据总记录数，计算页数
	SET @PageCount = ceiling(convert(float, @rowsCount) / convert(float, @PageSize))

	--超过最后一页，显示尾页
    if(@CurrentPage>=@PageCount)    
        set @TempSize=@rowsCount-(@PageCount-1)*@PageSize    
    else  
        set @TempSize=@PageSize  

	SET @Tempindex=Charindex('projcode',@Query,0)
    if( @Tempindex>0 and @Tempindex<Charindex('from',@Query,0))
	begin
		if(@Field<>'' and @Field<>'projcode')
		begin
			set @strField = ',projcode ';
			set	@strFielddesc =',projcode desc ';
		end 
	end 

	--分页SQL
    if(@Order='desc')    
    begin    
      set @strSQL = '
            select *   
            from (   
                    select top '+CONVERT(varchar(10),@TempSize)+' *   
                    from (  
                            select top '+CONVERT(varchar(10),@TempNum)+' *   
                            from ('+@Query+') as t0   
                            order by '+@Field+' desc '+@strField+'  
                    ) as t1   
                    order by '+@Field+@strFielddesc+' 
            ) as t2   
            order by '+@Field+' desc' +@strField   
    end    
    else    
    begin    
      set @strSQL = '
            select *   
            from (  
                    select top '+CONVERT(varchar(10),@TempSize)+' *   
                    from (  
                            select top '+ CONVERT(varchar(10), @TempNum ) + ' *   
                            from ('+@Query+') as t0  
                            order by '+@Field+' asc '+@strField +'
                    ) as t1   
                    order by '+@Field+' desc  '+@strFielddesc+' 
            ) as t2   
            order by '+@Field +@strField  
    end  
    exec(@strSQL)
GO
/****** Object:  UserDefinedFunction [dbo].[func_splitstring]    Script Date: 02/22/2017 22:14:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[func_splitstring] ( @stringToSplit nvarchar(4000) )
RETURNS
 @returnList TABLE ([ID] int)
AS
BEGIN

 DECLARE @name NVARCHAR(255)
 DECLARE @pos INT

 WHILE CHARINDEX(',', @stringToSplit) > 0
 BEGIN
  SELECT @pos  = CHARINDEX(',', @stringToSplit)  
  SELECT @name = SUBSTRING(@stringToSplit, 1, @pos-1)
  

  INSERT INTO @returnList 
  SELECT CONVERT(INT,  @name)

  SELECT @stringToSplit = SUBSTRING(@stringToSplit, @pos+1, LEN(@stringToSplit)-@pos)
 END

 INSERT INTO @returnList
 SELECT @stringToSplit

 RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Split]    Script Date: 02/22/2017 22:14:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_Split]
(
@SourceSql nvarchar(max),--源分隔字符串
@StrSeprate varchar(10)--分隔符
)
returns @temp table(ID nvarchar(max))
as 
begin
	declare @i int
	set @SourceSql=rtrim(ltrim(@SourceSql))
	set @i=charindex(@StrSeprate,@SourceSql)
	while @i>=1
	begin
		insert @temp values(left(@SourceSql,@i-1))
		set @SourceSql=substring(@SourceSql,@i+1,len(@SourceSql)-@i)
		set @i=charindex(@StrSeprate,@SourceSql)
	end
	if @SourceSql<>'\'
	insert @temp values(@SourceSql)
	return 
end
GO
/****** Object:  Table [dbo].[EavEntityDef]    Script Date: 02/22/2017 22:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EavEntityDef](
	[ID] [int] NOT NULL,
	[EntityTitle] [nvarchar](100) NOT NULL,
	[EntityName] [nvarchar](100) NOT NULL,
	[EntityCode] [varchar](100) NULL,
	[TemplateContent] [nvarchar](max) NULL,
	[HTMLContent] [nvarchar](max) NULL,
	[Description] [nvarchar](1000) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastUpdatedDate] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[EavEntityDef] ([ID], [EntityTitle], [EntityName], [EntityCode], [TemplateContent], [HTMLContent], [Description], [CreatedDate], [LastUpdatedDate]) VALUES (1, N'请假申请', N'员工请假表单', N'ApplyLeaveForm', NULL, NULL, N'填写请假信息，填写审核意见。', CAST(0x0000A53800000000 AS DateTime), NULL)
INSERT [dbo].[EavEntityDef] ([ID], [EntityTitle], [EntityName], [EntityCode], [TemplateContent], [HTMLContent], [Description], [CreatedDate], [LastUpdatedDate]) VALUES (2, N'报销申请', N'财务报销表单', N'ApplyExpenseAccountForm', NULL, NULL, NULL, CAST(0x0000A53D00B89504 AS DateTime), NULL)
INSERT [dbo].[EavEntityDef] ([ID], [EntityTitle], [EntityName], [EntityCode], [TemplateContent], [HTMLContent], [Description], [CreatedDate], [LastUpdatedDate]) VALUES (8, N'title', N'name', N'code', NULL, NULL, N'description', CAST(0x0000A53F015D5B5E AS DateTime), NULL)
/****** Object:  Table [dbo].[WfTransitionInstance]    Script Date: 02/22/2017 22:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WfTransitionInstance](
	[ID] [int] NOT NULL,
	[TransitionGUID] [varchar](100) NOT NULL,
	[AppName] [nvarchar](50) NOT NULL,
	[AppInstanceID] [varchar](50) NOT NULL,
	[ProcessInstanceID] [int] NOT NULL,
	[ProcessGUID] [varchar](100) NOT NULL,
	[TransitionType] [tinyint] NOT NULL,
	[FlyingType] [tinyint] NOT NULL,
	[FromActivityInstanceID] [int] NOT NULL,
	[FromActivityGUID] [varchar](100) NOT NULL,
	[FromActivityType] [smallint] NOT NULL,
	[FromActivityName] [nvarchar](50) NOT NULL,
	[ToActivityInstanceID] [int] NOT NULL,
	[ToActivityGUID] [varchar](100) NOT NULL,
	[ToActivityType] [smallint] NOT NULL,
	[ToActivityName] [nvarchar](50) NOT NULL,
	[ConditionParseResult] [tinyint] NOT NULL,
	[CreatedByUserID] [varchar](50) NOT NULL,
	[CreatedByUserName] [nvarchar](50) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[RecordStatusInvalid] [tinyint] NOT NULL,
	[RowVersionID] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WfTasks]    Script Date: 02/22/2017 22:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WfTasks](
	[ID] [int] NOT NULL,
	[ActivityInstanceID] [int] NOT NULL,
	[ProcessInstanceID] [int] NOT NULL,
	[AppName] [nvarchar](50) NOT NULL,
	[AppInstanceID] [varchar](50) NOT NULL,
	[ProcessGUID] [varchar](100) NOT NULL,
	[ActivityGUID] [varchar](100) NOT NULL,
	[ActivityName] [nvarchar](50) NOT NULL,
	[TaskType] [smallint] NOT NULL,
	[TaskState] [smallint] NOT NULL,
	[EntrustedTaskID] [int] NULL,
	[AssignedToUserID] [varchar](50) NOT NULL,
	[AssignedToUserName] [nvarchar](50) NOT NULL,
	[CreatedByUserID] [varchar](50) NOT NULL,
	[CreatedByUserName] [nvarchar](50) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[LastUpdatedDateTime] [datetime] NULL,
	[LastUpdatedByUserID] [varchar](50) NULL,
	[LastUpdatedByUserName] [nvarchar](50) NULL,
	[EndedByUserID] [varchar](50) NULL,
	[EndedByUserName] [nvarchar](50) NULL,
	[EndedDateTime] [datetime] NULL,
	[RecordStatusInvalid] [tinyint] NOT NULL,
	[RowVersionID] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WfProcessInstance]    Script Date: 02/22/2017 22:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WfProcessInstance](
	[ID] [int] NOT NULL,
	[ProcessGUID] [varchar](100) NOT NULL,
	[ProcessName] [nvarchar](50) NOT NULL,
	[Version] [nvarchar](20) NOT NULL,
	[AppInstanceID] [varchar](50) NOT NULL,
	[AppName] [nvarchar](50) NOT NULL,
	[AppInstanceCode] [nvarchar](50) NULL,
	[ProcessState] [smallint] NOT NULL,
	[ParentProcessInstanceID] [int] NULL,
	[ParentProcessGUID] [varchar](100) NULL,
	[InvokedActivityInstanceID] [int] NULL,
	[InvokedActivityGUID] [varchar](100) NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[CreatedByUserID] [varchar](50) NOT NULL,
	[CreatedByUserName] [nvarchar](50) NOT NULL,
	[LastUpdatedDateTime] [datetime] NULL,
	[LastUpdatedByUserID] [varchar](50) NULL,
	[LastUpdatedByUserName] [nvarchar](50) NULL,
	[EndedDateTime] [datetime] NULL,
	[EndedByUserID] [varchar](50) NULL,
	[EndedByUserName] [nvarchar](50) NULL,
	[RecordStatusInvalid] [tinyint] NOT NULL,
	[RowVersionID] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WfProcess]    Script Date: 02/22/2017 22:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WfProcess](
	[ID] [int] NOT NULL,
	[ProcessGUID] [varchar](100) NOT NULL,
	[ProcessName] [nvarchar](50) NOT NULL,
	[Version] [nvarchar](20) NOT NULL,
	[IsUsing] [tinyint] NOT NULL,
	[AppType] [varchar](20) NULL,
	[PageUrl] [nvarchar](100) NULL,
	[XmlFileName] [nvarchar](50) NULL,
	[XmlFilePath] [nvarchar](50) NULL,
	[XmlContent] [nvarchar](max) NULL,
	[BPMNContent] [nvarchar](max) NULL,
	[Description] [nvarchar](1000) NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[LastUpdatedDateTime] [datetime] NULL,
	[RowVersionID] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WfLog]    Script Date: 02/22/2017 22:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WfLog](
	[ID] [int] NOT NULL,
	[EventTypeID] [int] NOT NULL,
	[Priority] [int] NOT NULL,
	[Severity] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](256) NOT NULL,
	[Message] [nvarchar](500) NULL,
	[StackTrace] [nvarchar](4000) NULL,
	[InnerStackTrace] [nvarchar](4000) NULL,
	[RequestData] [nvarchar](2000) NULL,
	[Timestamp] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WfActivityInstance]    Script Date: 02/22/2017 22:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WfActivityInstance](
	[ID] [int] NOT NULL,
	[ProcessInstanceID] [int] NOT NULL,
	[AppName] [nvarchar](50) NOT NULL,
	[AppInstanceID] [varchar](50) NOT NULL,
	[ProcessGUID] [varchar](100) NOT NULL,
	[ActivityGUID] [varchar](100) NOT NULL,
	[ActivityName] [nvarchar](50) NOT NULL,
	[ActivityType] [smallint] NOT NULL,
	[ActivityState] [smallint] NOT NULL,
	[WorkItemType] [smallint] NOT NULL,
	[AssignedToUserIDs] [nvarchar](1000) NULL,
	[AssignedToUserNames] [nvarchar](2000) NULL,
	[BackwardType] [smallint] NULL,
	[BackSrcActivityInstanceID] [int] NULL,
	[GatewayDirectionTypeID] [smallint] NULL,
	[CanRenewInstance] [tinyint] NOT NULL,
	[TokensRequired] [int] NOT NULL,
	[TokensHad] [int] NOT NULL,
	[ComplexType] [smallint] NULL,
	[MergeType] [smallint] NULL,
	[MIHostActivityInstanceID] [int] NULL,
	[CompleteOrder] [float] NULL,
	[SignForwardType] [smallint] NULL,
	[CreatedByUserID] [varchar](50) NOT NULL,
	[CreatedByUserName] [nvarchar](50) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[LastUpdatedByUserID] [varchar](50) NULL,
	[LastUpdatedByUserName] [nvarchar](50) NULL,
	[LastUpdatedDateTime] [datetime] NULL,
	[EndedDateTime] [datetime] NULL,
	[EndedByUserID] [varchar](50) NULL,
	[EndedByUserName] [nvarchar](50) NULL,
	[RecordStatusInvalid] [tinyint] NOT NULL,
	[RowVersionID] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
print 'Processed 100 total records'
/****** Object:  View [dbo].[vw_SysRoleUserView]    Script Date: 02/22/2017 22:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_SysRoleUserView]
AS
SELECT  dbo.SysRoleUser.ID,
    dbo.SysRole.ID as RoleID, 
	dbo.SysRole.RoleName, 
	dbo.SysRole.RoleCode, 
	dbo.SysUser.ID as UserID,
	dbo.SysUser.UserName
FROM         dbo.SysRole LEFT JOIN
             dbo.SysRoleUser ON dbo.SysRole.ID = dbo.SysRoleUser.RoleID LEFT JOIN
             dbo.SysUser ON dbo.SysRoleUser.UserID = dbo.SysUser.ID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[24] 2[17] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "SysRole"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 110
               Right = 180
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SysRoleUser"
            Begin Extent = 
               Top = 4
               Left = 313
               Bottom = 108
               Right = 455
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SysUser"
            Begin Extent = 
               Top = 165
               Left = 175
               Bottom = 254
               Right = 317
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_SysRoleUserView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_SysRoleUserView'
GO
/****** Object:  StoredProcedure [dbo].[pr_sys_UserSave]    Script Date: 02/22/2017 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[pr_sys_UserSave]
   @userID			int,
   @userName		varchar(100)

AS

BEGIN

	SET NOCOUNT ON
	-- 检查条件
	IF EXISTS(SELECT 1 
			  FROM SysUser 
			  WHERE ID<>@userID 
				AND (UserName=@userName)
			  )
		RAISERROR ('插入或编辑用户数据失败: 有重复的名称已经存在!', 16, 1)

    --插入或者编辑				
	BEGIN TRY
		IF (@userID>0)
			UPDATE SysUser
			SET UserName=@userName
			WHERE ID=@userID
		ELSE
		    INSERT INTO SysUser(UserName)
		    VALUES(@userName)
	END TRY
	BEGIN CATCH
			DECLARE @error int, @message varchar(4000)
			SELECT @error = ERROR_NUMBER()
				, @message = ERROR_MESSAGE();
			RAISERROR ('插入或编辑用户数据失败: %d: %s', 16, 1, @error, @message)
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[pr_sys_UserResourceListSaveBatch]    Script Date: 02/22/2017 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Besley, SlickOne Team>
-- Create date: <2017-01-11>
-- Description:	<用户自有资源权限许可保存批量方法>
-- =============================================
CREATE PROCEDURE [dbo].[pr_sys_UserResourceListSaveBatch]
	@userID as int,
	@permissionXML as xml
AS
BEGIN
	SET NOCOUNT ON;
     BEGIN TRY
		BEGIN TRANSACTION
		  --delete all role resource list
		  DELETE FROM SysUserResource
		  WHERE UserID = @userID
			AND IsInherited = -1
			
		  --insert allowed and denied permissions
		  INSERT INTO SysUserResource(UserID, ResourceID, PermissionType, IsInherited)
		  SELECT
			@userID,
			List.Id.query('ResourceID').value('.', 'int') as ResourceID,
			List.Id.query('PermissionType').value('.', 'int') as PermissionType,
			List.Id.query('IsInherited').value('.', 'int') as IsInherited
		  FROM @permissionXML.nodes('/data/item') as List(Id)
			  
		COMMIT TRANSACTION
	 END TRY
	 BEGIN CATCH
	    ROLLBACK TRANSACTION
	    
		DECLARE  @error int, @message varchar(4000)
		SELECT @error=ERROR_NUMBER(),
			   @message=ERROR_MESSAGE();
		RAISERROR ('保存用户自有资源列表及权限许可失败: %d: %s', 16, 1, @error, @message)
	 END CATCH
  
END
GO
/****** Object:  StoredProcedure [dbo].[pr_sys_UserResourceListRetrieveByUser]    Script Date: 02/22/2017 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Besley, SlickOne Team>
-- Create date: <2017-01-11>
-- Description:	<根据用户ID获取资源许可列表>
-- =============================================
CREATE PROCEDURE [dbo].[pr_sys_UserResourceListRetrieveByUser]
	@userID int=0
AS
BEGIN
	SET NOCOUNT ON;
	IF (@userID <= 0)
		BEGIN
			RAISERROR ('输入查询参数用户ID不能为0!', -- Message text.
				   16, -- Severity.
				   1 -- State.
				   )
			RETURN
		END
     BEGIN TRY
		  --1. calculate role permission
		  DECLARE @tablePermisisonAllowed Table(
			ID	int,
			RoleID	int,
			ResourceID int
		  )
		  
		  DECLARE @tablePermissionDenied Table(
			ID	int,
			RoleID	int,
			ResourceID	int
		  )
		  
		  --1.1)insert allowed permission by role
		  INSERT @tablePermisisonAllowed(ID, RoleID, ResourceID)
		  SELECT 
			ID,
			RoleID,
			ResourceID
		  FROM SysRoleResource 
		  WHERE PermissionType = 1 
				AND RoleID IN(
					SELECT RoleID 
					FROM SysRoleUser
					WHERE UserID = @userID
				  )

				  
		  --1.2)insert denied permission by role
		  INSERT @tablePermissionDenied(ID, RoleID, ResourceID)
		  SELECT 
			ID,
			RoleID,
			ResourceID
		  FROM SysRoleResource 
		  WHERE PermissionType = -1 
				AND RoleID IN(
					SELECT RoleID 
					FROM SysRoleUser
					WHERE UserID = @userID
				  )
		  
		  --1.3)remove allowed permission if there is a denied permission exist
		  DELETE FROM @tablePermisisonAllowed
		  WHERE ResourceID IN(
					SELECT 
						ResourceID 
					FROM @tablePermissionDenied
				)
		  
		  --1.4) delete inherited permission from user resource table, 
		  --     will insert all inherited permission again 
		  DELETE FROM SysUserResource
		  WHERE UserID=@userID 
			AND IsInherited=1
		  
		  --1.5) insert allowed permssion as inherited
		  INSERT INTO SysUserResource(UserID, ResourceID, PermissionType, IsInherited)
		  SELECT DISTINCT
			@userID, 
			ResourceID,
			1,
			1
		  FROM @tablePermisisonAllowed
		  
		  --1.6) insert denied permission as inherited
		  INSERT INTO SysUserResource(UserID, ResourceID, PermissionType, IsInherited)
		  SELECT DISTINCT
			@userID, 
			ResourceID,
			-1,
			1
		  FROM @tablePermissionDenied
		  
		  
		  --2. get user resource permission list
		  --resourceid will be replicated if there is both inherited and self permission
		  --2.1 delcare user resource table
		  DECLARE @tableUserPermissionList Table(
			ID	int,
			ResourceTypeID	int,
			ParentID int,
			ResourceName nvarchar(100),
			PermissionType smallint,
			IsInherited	smallint
		  )
		  
		  --2.2 insert into user resource table
		  INSERT INTO @tableUserPermissionList
		  SELECT
			    R.ID,
				R.ResourceTypeID,
				R.ParentID,
				R.ResourceName,
				 (CASE 
					 WHEN RP.PermissionType IS NULL  THEN 0--默认未设置权限
					 WHEN RP.PermissionType=1 then 1  --允许
					 ELSE -1 --拒绝
					 END) PermissionType, --权限许可（PermissionType字段 1-允许，-1-拒绝）
				(CASE 
					 WHEN RP.IsInherited IS NULL  THEN 0 --默认未分配权限
					 WHEN RP.IsInherited=1 then 1--继承自角色
					 ELSE -1  --独立
					 END) IsInherited --权限来源（IsInherited字段 1-继承，-1-独立）
		  FROM SysResource R
		  LEFT JOIN (
					SELECT * 
					FROM SysUserResource
					WHERE UserID=@userID )AS RP
				ON R.ID = RP.ResourceID
		  ORDER BY R.ParentID  ASC,R.OrderNum ASC
		  
		  --2.3 declare user permission view for display
		  DECLARE @tableUserPermissionView Table(
			ID	int,
			ResourceTypeID	int,
			ParentID int,
			ResourceName nvarchar(100),
			IsAllowInherited smallint,
			IsAllowSelf smallint,
			IsDenyInherited smallint,
			IsDenySelf smallint
		  )
		  
		  
		  --3. insert into user permission view
		  INSERT INTO @tableUserPermissionView(
			ID, 
			ResourceTypeID, 
			ParentID, 
			ResourceName)
		  SELECT 
			DISTINCT ID, 
			ResourceTypeID, 
			ParentID, 
			ResourceName
		  FROM @tableUserPermissionList
		  
		  --3.1 update IsAllowInherited data
		  UPDATE UPV
			SET UPV.IsAllowInherited = 1
		  FROM @tableUserPermissionView UPV
			INNER JOIN @tableUserPermissionList UPL
				ON UPV.ID = UPL.ID
			WHERE UPL.PermissionType = 1
				AND UPL.IsInherited = 1
				
		  --3.2 update IsAllowSelf data
		  UPDATE UPV
			SET UPV.IsAllowSelf = 1
		  FROM @tableUserPermissionView UPV
			INNER JOIN @tableUserPermissionList UPL
				ON UPV.ID = UPL.ID
			WHERE UPL.PermissionType = 1
				AND UPL.IsInherited = -1
				
		  --3.3 update IsDenyInherited data
		  UPDATE UPV
			SET UPV.IsDenyInherited = 1
		  FROM @tableUserPermissionView UPV
			INNER JOIN @tableUserPermissionList UPL
				ON UPV.ID = UPL.ID
			WHERE UPL.PermissionType = -1
				AND UPL.IsInherited = 1
				
		  --3.4 update IsDenySelf
		  UPDATE UPV
			SET UPV.IsDenySelf = 1
		  FROM @tableUserPermissionView UPV
			INNER JOIN @tableUserPermissionList UPL
				ON UPV.ID = UPL.ID
			WHERE UPL.PermissionType = -1
				AND UPL.IsInherited = -1
		  
		--4 return user permission view
		SELECT 
			*
		FROM @tableUserPermissionView
	 END TRY

	 BEGIN CATCH
		DECLARE  @error int, @message varchar(4000)
		SELECT @error=ERROR_NUMBER(),
			   @message=ERROR_MESSAGE();
		RAISERROR ('用户资源列表及权限许可失败: %d: %s', 16, 1, @error, @message)
	 END CATCH
  
END
GO
/****** Object:  StoredProcedure [dbo].[pr_sys_UserResourceListGet]    Script Date: 02/22/2017 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Besley, SlickOne Team>
-- Create date: <2017-01-11>
-- Description:	<读取用户资源数据列表>
-- =============================================
CREATE PROCEDURE [dbo].[pr_sys_UserResourceListGet]
	@userID as int
AS
BEGIN
	SET NOCOUNT ON;
	IF (@userID <= 0)
		BEGIN
			RAISERROR ('输入查询参数用户ID不能为0!', -- Message text.
				   16, -- Severity.
				   1 -- State.
				   )
			RETURN
		END
		
     BEGIN TRY
		  --1. declare user permission table
		  DECLARE @tablePermisisonAllowed Table(
			ID	int,
			UserID	int,
			ResourceID int,
			PermissionType smallint,
			IsInherited	smallint
		  )
		  
		  --2. insert permission data
		  INSERT INTO @tablePermisisonAllowed(
			ID, 
			UserID, 
			ResourceID, 
			PermissionType, 
			IsInherited)
		  SELECT 
			ID,
			UserID,
			ResourceID,
			PermissionType,
			IsInherited
		  FROM SysUserResource
		  WHERE UserID=@userID
			AND PermissionType=1
			AND ResourceID NOT IN(
				SELECT 
					ResourceID
				FROM SysUserResource
				WHERE UserID=@userID
					AND PermissionType=-1		--denied permission
					AND IsInherited=-1	--denied by self
			)

		  --3. get user resource permission list
		  SELECT 
			DISTINCT
			RP.UserID,
			RP.ResourceID,
			R.ResourceName,
			R.ResourceTypeID
		  FROM @tablePermisisonAllowed RP
		  INNER JOIN SysResource R ON
			RP.ResourceID = R.ID
			  
	 END TRY
	 BEGIN CATCH
	    
		DECLARE  @error int, @message varchar(4000)
		SELECT @error=ERROR_NUMBER(),
			   @message=ERROR_MESSAGE();
		RAISERROR ('读取用户自有资源列表及权限许可失败: %d: %s', 16, 1, @error, @message)
	 END CATCH
  
END
GO
/****** Object:  StoredProcedure [dbo].[pr_sys_UserResourceListClear]    Script Date: 02/22/2017 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Besley, SlickOne Team>
-- Create date: <2017-01-11>
-- Description:	<清除用户资源数据列表>
-- =============================================
create PROCEDURE [dbo].[pr_sys_UserResourceListClear]
	@userID as int
AS
BEGIN
	SET NOCOUNT ON;
     BEGIN TRY
		BEGIN TRANSACTION
		  --delete all role resource list
		  DELETE FROM SysUserResource
		  WHERE UserID = @userID
			AND IsInherited = -1		--not inherited from role
			  
		COMMIT TRANSACTION
	 END TRY
	 BEGIN CATCH
	    ROLLBACK TRANSACTION
	    
		DECLARE  @error int, @message varchar(4000)
		SELECT @error=ERROR_NUMBER(),
			   @message=ERROR_MESSAGE();
		RAISERROR ('清除用户自有资源列表及权限许可失败: %d: %s', 16, 1, @error, @message)
	 END CATCH
  
END
GO
/****** Object:  StoredProcedure [dbo].[pr_sys_UserDelete]    Script Date: 02/22/2017 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[pr_sys_UserDelete]
   @userID			int

AS

BEGIN

	SET NOCOUNT ON
    --删除操作				
	BEGIN TRY
		DELETE FROM SysRoleUser WHERE UserID=@userID
		DELETE FROM SysUser WHERE ID=@userID
	END TRY
	BEGIN CATCH
			DECLARE @error int, @message varchar(4000)
			SELECT @error = ERROR_NUMBER()
				, @message = ERROR_MESSAGE();
			RAISERROR ('删除用户数据失败: %d: %s', 16, 1, @error, @message)
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[pr_sys_RoleUserDelete]    Script Date: 02/22/2017 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[pr_sys_RoleUserDelete]
   @userID			int,
   @roleID			int

AS

BEGIN

	SET NOCOUNT ON
    --删除操作				
	BEGIN TRY
		IF (@userID = -1)
			DELETE FROM SysRoleUser WHERE RoleID=@roleID
		ELSE
			DELETE FROM SysRoleUser WHERE UserID=@userID AND RoleID=@roleID
	END TRY
	BEGIN CATCH
			DECLARE @error int, @message varchar(4000)
			SELECT @error = ERROR_NUMBER()
				, @message = ERROR_MESSAGE();
			RAISERROR ('删除角色下的用户数据失败: %d: %s', 16, 1, @error, @message)
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[pr_sys_RoleSave]    Script Date: 02/22/2017 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[pr_sys_RoleSave]
   @roleID			int,
   @roleCode		varchar(50),
   @roleName		nvarchar(100)

AS

BEGIN

	SET NOCOUNT ON
	-- 检查条件
	IF EXISTS(SELECT 1 
			  FROM SysRole 
			  WHERE ID<>@roleID 
				AND (RoleCode=@roleCode OR RoleName=@roleName)
			  )
		RAISERROR ('插入或编辑角色数据失败: 有重复的名称或者编码已经存在!', 16, 1)

    --插入或者编辑				
	BEGIN TRY
		IF (@roleID>0)
			UPDATE SysRole
			SET RoleCode=@roleCode, RoleName=@roleName
			WHERE ID=@roleID
		ELSE
		    INSERT INTO SysRole(RoleCode, RoleName)
		    VALUES(@roleCode, @roleName)
	END TRY
	BEGIN CATCH
			DECLARE @error int, @message varchar(4000)
			SELECT @error = ERROR_NUMBER()
				, @message = ERROR_MESSAGE();
			RAISERROR ('插入或编辑角色数据失败: %d: %s', 16, 1, @error, @message)
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[pr_sys_RoleResourceListSaveBatch]    Script Date: 02/22/2017 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Besley, SlickOne Team>
-- Create date: <2017-01-11>
-- Description:	<角色资源权限许可保存批量方法>
-- =============================================
CREATE PROCEDURE [dbo].[pr_sys_RoleResourceListSaveBatch]
	@roleID as int,
	@permissionXML as xml
AS
BEGIN
	SET NOCOUNT ON;
     BEGIN TRY
		BEGIN TRANSACTION
		  --delete all role resource list
		  DELETE FROM SysRoleResource
		  WHERE RoleID = @roleID
			
		  --insert allowed and denied permissions
		  INSERT INTO SysRoleResource(RoleID, ResourceID, PermissionType)
		  SELECT
			@roleID,
			List.Id.query('ResourceID').value('.', 'int') as ResourceID,
			List.Id.query('PermissionType').value('.', 'int') as PermissionType
		  FROM @permissionXML.nodes('/data/item') as List(Id)
			  
		COMMIT TRANSACTION
	 END TRY
	 BEGIN CATCH
	    ROLLBACK TRANSACTION
	    
		DECLARE  @error int, @message varchar(4000)
		SELECT @error=ERROR_NUMBER(),
			   @message=ERROR_MESSAGE();
		RAISERROR ('保存资源列表及权限许可失败: %d: %s', 16, 1, @error, @message)
	 END CATCH
  
END
GO
/****** Object:  StoredProcedure [dbo].[pr_sys_RoleResourceListGetByRole]    Script Date: 02/22/2017 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Besley, SlickOne Team>
-- Create date: <2017-01-11>
-- Description:	<根据用户或角色ID获取资源许可列表>
-- =============================================
CREATE PROCEDURE [dbo].[pr_sys_RoleResourceListGetByRole]
	@roleID int=0
AS
BEGIN
	SET NOCOUNT ON;
	IF (@roleID=0)
		BEGIN
			RAISERROR ('输入查询参数角色ID不能为0!', -- Message text.
				   16, -- Severity.
				   1 -- State.
				   )
			RETURN
		END
     BEGIN TRY
		IF(@RoleID>0)
			BEGIN
			  SELECT
				    R.ID,
					R.ResourceTypeID,
					R.ParentID,
					R.ResourceCode,
					R.ResourceName,
					(CASE 
						 WHEN RP.ID IS NULL THEN 0
						 ELSE RP.ID
						 END) AS RPID,--资源权限表ID
					 (CASE 
						 WHEN RP.PermissionType IS NULL  THEN 0--默认为未设定权限
						 WHEN RP.PermissionType=1 then 1	--允许
						 ELSE -1 --拒绝
						 END) PermissionType --权限许可（PermissionType字段 1-允许，-1-拒绝）
			  FROM SysResource R
			  LEFT JOIN (
						SELECT * 
						FROM SysRoleResource
						WHERE RoleID=@roleID )AS RP
					ON R.ID = RP.ResourceID
			  ORDER BY R.OrderNum  ASC,R.ID ASC

			END
	 END TRY

	 BEGIN CATCH
		DECLARE  @error int, @message varchar(4000)
		SELECT @error=ERROR_NUMBER(),
			   @message=ERROR_MESSAGE();
		RAISERROR ('获取资源列表及权限许可失败: %d: %s', 16, 1, @error, @message)
	 END CATCH
  
END
GO
/****** Object:  StoredProcedure [dbo].[pr_sys_RoleResourceListClear]    Script Date: 02/22/2017 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Besley, SlickOne Team>
-- Create date: <2017-01-11>
-- Description:	<清除角色资源数据列表>
-- =============================================
create PROCEDURE [dbo].[pr_sys_RoleResourceListClear]
	@roleID as int
AS
BEGIN
	SET NOCOUNT ON;
     BEGIN TRY
		BEGIN TRANSACTION
		  --delete all role resource list
		  DELETE FROM SysRoleResource
		  WHERE RoleID = @roleID
			  
		COMMIT TRANSACTION
	 END TRY
	 BEGIN CATCH
	    ROLLBACK TRANSACTION
	    
		DECLARE  @error int, @message varchar(4000)
		SELECT @error=ERROR_NUMBER(),
			   @message=ERROR_MESSAGE();
		RAISERROR ('清除资源列表及权限许可失败: %d: %s', 16, 1, @error, @message)
	 END CATCH
  
END
GO
/****** Object:  StoredProcedure [dbo].[pr_sys_RoleListGetByUserID]    Script Date: 02/22/2017 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Besley, SlickOne Team>
-- Create date: <2017-01-11>
-- Description:	<根据用户ID获取资源列表>
-- =============================================
create PROCEDURE [dbo].[pr_sys_RoleListGetByUserID]
	@UserID int=0
AS
BEGIN
	SET NOCOUNT ON;
	IF (@UserID=0)
		BEGIN
			RAISERROR ('输入查询参数用户ID不能为0!', -- Message text.
				   16, -- Severity.
				   1 -- State.
				   )
			RETURN
		END
     BEGIN TRY
		IF(@UserID>0)
			BEGIN
			  SELECT
				    R.ID,
					R.RoleCode,
					R.RoleName,
					(CASE 
						 WHEN UR.ID IS NULL THEN 0
						 ELSE UR.ID
						 END) AS URID,	--用户角色表ID
					UR.UserID,
					UR.RoleID
			  FROM SysRole R
			  LEFT JOIN (
						SELECT * 
						FROM SysRoleUser 
						WHERE UserID=@UserID )AS UR
					ON R.ID = UR.RoleID
	

			END
	 END TRY

	 BEGIN CATCH
		DECLARE  @error int, @message varchar(4000)
		SELECT @error=ERROR_NUMBER(),
			   @message=ERROR_MESSAGE();
		RAISERROR ('获取UserID获取所有角色列表失败: %d: %s', 16, 1, @error, @message)
	 END CATCH
  
END
GO
/****** Object:  StoredProcedure [dbo].[pr_sys_RoleDelete]    Script Date: 02/22/2017 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[pr_sys_RoleDelete]
   @roleID			int

AS

BEGIN

	SET NOCOUNT ON
    --删除操作				
	BEGIN TRY
		DELETE FROM SysRoleUser WHERE RoleID=@roleID
		DELETE FROM SysRole WHERE ID=@roleID
	END TRY
	BEGIN CATCH
			DECLARE @error int, @message varchar(4000)
			SELECT @error = ERROR_NUMBER()
				, @message = ERROR_MESSAGE();
			RAISERROR ('删除角色数据失败: %d: %s', 16, 1, @error, @message)
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[pr_sys_ResourceListGetByUserID]    Script Date: 02/22/2017 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Besley, SlickOne Team>
-- Create date: <2017-01-11>
-- Description:	<根据用户ID获取资源列表>
-- =============================================
CREATE PROCEDURE [dbo].[pr_sys_ResourceListGetByUserID]
	@userID int=0
AS
BEGIN
	SET NOCOUNT ON;
	IF (@userID=0)
		BEGIN
			RAISERROR ('输入查询参数用户ID不能为0!', -- Message text.
				   16, -- Severity.
				   1 -- State.
				   )
			RETURN
		END
     BEGIN TRY
		IF(@UserID>0)
			BEGIN
			  SELECT
				    R.*
			  FROM SysUserResource UR
			  LEFT JOIN SysResource R
					ON R.ID = UR.ResourceID
			  WHERE UR.UserID=@userID
			END
	 END TRY

	 BEGIN CATCH
		DECLARE  @error int, @message varchar(4000)
		SELECT @error=ERROR_NUMBER(),
			   @message=ERROR_MESSAGE();
		RAISERROR ('根据UserID获取资源列表失败: %d: %s', 16, 1, @error, @message)
	 END CATCH
  
END
GO
/****** Object:  StoredProcedure [dbo].[pr_sys_ResourceListDeleteByID]    Script Date: 02/22/2017 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Besley, SlickOne Team>
-- Create date: <2017-01-11>
-- Description:	<删除单条资源记录>
-- =============================================
create PROCEDURE [dbo].[pr_sys_ResourceListDeleteByID]
	@resourceID int=0
AS
BEGIN
	SET NOCOUNT ON;
	IF (@resourceID=0)
		BEGIN
			RAISERROR ('输入查询参数资源ID不能为0!', -- Message text.
				   16, -- Severity.
				   1 -- State.
				   )
			RETURN
		END
     BEGIN TRY
		IF(@resourceID>0)
			BEGIN
			  --删除用户资源表
			  DELETE FROM SysUserResource
			  WHERE ResourceID=@resourceID
			  
			  --删除角色资源表
			  DELETE FROM SysRoleResource
			  WHERE ResourceID=@resourceID
			  
			  --删除资源表
			  DELETE FROM SysResource
			  WHERE ID=@resourceID
			END
	 END TRY

	 BEGIN CATCH
		DECLARE  @error int, @message varchar(4000)
		SELECT @error=ERROR_NUMBER(),
			   @message=ERROR_MESSAGE();
		RAISERROR ('删除资源数据失败: %d: %s', 16, 1, @error, @message)
	 END CATCH
  
END
GO
/****** Object:  StoredProcedure [dbo].[pr_sys_ResourceLeftMenuGetByUser]    Script Date: 02/22/2017 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Besley, SlickOne Team>
-- Create date: <2017-01-11>
-- Description:	<用户登录获取左侧菜单项>
-- =============================================
CREATE PROCEDURE [dbo].[pr_sys_ResourceLeftMenuGetByUser]
	@userID INT=0
	AS
BEGIN

SET NOCOUNT ON;


BEGIN TRY
 DECLARE @accountType as int
 SELECT @accountType=AccountType
 FROM SysUser
 WHERE ID=@userID
 
 
 if @accountType=-1 --超级管理admin，返回所有资源
	SELECT 
		ID,
		ParentID,
		ResourceName,
		UrlAction,
		DataAction,
		StyleClass,
		OrderNum 
	FROM SysResource 
	--WHERE ResourceTypeID<3 
	ORDER BY parentid asc, ordernum asc
 ELSE
    SELECT 
		DISTINCT
		R.ID,
		R.ParentID,
		R.ResourceName,
		R.UrlAction,
		R.DataAction,
		R.StyleClass,
		R.OrderNum
    FROM SysResource R
    INNER JOIN    
	(
		SELECT 
			UserID,
			ResourceID
		FROM SysUserResource
		WHERE UserID=@userID
			AND PermissionType=1
			AND ResourceID NOT IN(
				SELECT 
					ResourceID
				FROM SysUserResource
				WHERE UserID=@userID
					AND PermissionType=-1		--denied permission
					AND IsInherited=-1		--denied by self
			)
	)UR ON R.ID=UR.ResourceID
	ORDER BY R.ParentID asc, R.OrderNum asc
END TRY

BEGIN CATCH
DECLARE @error int, @message varchar(4000)
		SELECT @error = ERROR_NUMBER()
			, @message = ERROR_MESSAGE();
		RAISERROR ('获取用户左侧导航菜单失败: %d: %s', 16, 1, @error, @message)
	END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[pr_sys_ResourceDeleteBatch]    Script Date: 02/22/2017 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Besley, SlickOne Team>
-- Create date: <2017-01-11>
-- Description:	<批量删除资源数据>
-- =============================================
CREATE PROCEDURE [dbo].[pr_sys_ResourceDeleteBatch]
 @strXml xml
AS

BEGIN

	SET NOCOUNT ON

	-- 检查旧版本记录是否存在，并且状态是否可用
	DECLARE @ROWCOUNT AS NUMERIC(10,0)/*回传执行状态>0:成功<=0:失败*/
		  SET @ROWCOUNT=0;
	       
	DECLARE  @docHandle int;

	BEGIN TRY
	  BEGIN TRANSACTION
      CREATE TABLE #deleteTbTemp
	  (
	    ID int
	  )

		 --解析XML,将数据写入临时表中
	  EXEC sp_xml_preparedocument @docHandle OUTPUT, @strXml;
	  INSERT INTO #deleteTbTemp
	   SELECT * FROM OPENXML(@docHandle,N'/data/item',1)
	   WITH #deleteTbTemp;
	  EXEC sp_xml_removedocument @docHandle;
	  
	  --xml 格式
	  --<data><item id=1></item><item id=2></item></data>
	  --循环临时表，删除相应表中的数据
	  WHILE(EXISTS(SELECT * FROM #deleteTbTemp))
		 BEGIN
			DELETE FROM SysResourcePrivilege
			WHERE ResourceID=(SELECT TOP 1 ID FROM #deleteTbTemp)

			DELETE FROM SysUserResource
			WHERE ResourceID=(SELECT TOP 1 ID FROM #deleteTbTemp)

			IF (NOT EXISTS (SELECT * FROM SysResourcePrivilege WHERE ResourceID=(SELECT TOP 1 ID FROM #deleteTbTemp))
			  AND NOT EXISTS(SELECT * FROM SysUserResource WHERE ResourceID=(SELECT TOP 1 ID FROM #deleteTbTemp)))
			  BEGIN
		     		DELETE FROM SysResource
					WHERE ID=(SELECT TOP 1 ID FROM #deleteTbTemp)
				END
			SET @ROWCOUNT=@ROWCOUNT+@@ROWCOUNT;
			--删除临时表中的数据
			DELETE FROM #deleteTbTemp WHERE ID=(SELECT TOP 1 ID FROM #deleteTbTemp);
		   END
		 --销毁临时表
		  DROP TABLE #deleteTbTemp;
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
			ROLLBACK TRANSACTION
			DECLARE @error int, @message varchar(4000)
			SELECT @error = ERROR_NUMBER()
				, @message = ERROR_MESSAGE();
			RAISERROR ('资源批量删除失败: %d: %s', 16, 1, @error, @message)
	END CATCH
END
GO
/****** Object:  Default [DF_SysResource_CantBeDeleted]    Script Date: 02/22/2017 22:13:59 ******/
ALTER TABLE [dbo].[SysResource] ADD  CONSTRAINT [DF_SysResource_CantBeDeleted]  DEFAULT ((0)) FOR [CanNotBeDeleted]
GO
/****** Object:  Default [DF_SysUser_AccountType]    Script Date: 02/22/2017 22:13:59 ******/
ALTER TABLE [dbo].[SysUser] ADD  CONSTRAINT [DF_SysUser_AccountType]  DEFAULT ((0)) FOR [AccountType]
GO
/****** Object:  Default [DF_SysUserResource_PermissionType]    Script Date: 02/22/2017 22:13:59 ******/
ALTER TABLE [dbo].[SysUserResource] ADD  CONSTRAINT [DF_SysUserResource_PermissionType]  DEFAULT ((1)) FOR [PermissionType]
GO
/****** Object:  Default [DF_SysUserResource_IsInherited]    Script Date: 02/22/2017 22:13:59 ******/
ALTER TABLE [dbo].[SysUserResource] ADD  CONSTRAINT [DF_SysUserResource_IsInherited]  DEFAULT ((1)) FOR [IsInherited]
GO
